# Amazon SageMaker Data Wrangler

## Data collection

Jester Datasets for Recommender Systems and Collaborative Filtering Research ([click](http://eigentaste.berkeley.edu/dataset/)) is the data we use to demostrate the function nality of Data Wrangler. This datasets is comprised of dataset 1/3/4, we will pick dataset 4 specifically, since it contains relatively newer and less records than prio ones.

The data is formatted as an excel file representing a 7699 by 159 matrix with rows as users and columns as jokes. The left-most column represents the amount of jokes rated by each user. There are a total of 7699 users and 158 jokes in this dataset.

### Download dataset

In [1]:
%%bash -s "JesterDataset4" "[final] April 2015 to Nov 30 2019 - Transformed Jester Data - "

rm -rf data
mkdir data
cd data
wget -c "http://eigentaste.berkeley.edu/dataset/$1.zip"
unzip "$1.zip"
mv "$2.xlsx" "$1.xlsx"

Archive:  JesterDataset4.zip
  inflating: [final] April 2015 to Nov 30 2019 - Transformed Jester Data - .xlsx
   creating: __MACOSX/
  inflating: __MACOSX/._[final] April 2015 to Nov 30 2019 - Transformed Jester Data - .xlsx

--2020-12-10 16:51:10--  http://eigentaste.berkeley.edu/dataset/JesterDataset4.zip
Resolving eigentaste.berkeley.edu (eigentaste.berkeley.edu)... 128.32.192.72
Connecting to eigentaste.berkeley.edu (eigentaste.berkeley.edu)|128.32.192.72|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1378454 (1.3M) [application/zip]
Saving to: ‘JesterDataset4.zip’

     0K .......... .......... .......... .......... ..........  3%  419K 3s
    50K .......... .......... .......... .......... ..........  7%  794K 2s
   100K .......... .......... .......... .......... .......... 11%  105M 1s
   150K .......... .......... .......... .......... .......... 14%  119M 1s
   200K .......... .......... .......... .......... .......... 18%  801K 1s
   250K .......... .......... .......... .......... .......... 22% 97.4M 1s
   300K .......... .......... .......... .......... .......... 26% 39.4M 1s
   350K .......... .......... .......... .......... .......... 29%  308M 1s
   400K .......... .......... .......... .......... .......... 33%  821K 1s
   450K .......... .......... .......... .......... .......... 37%  118M 1s
   500K .......... .......... .......... .......... .......... 40% 80.9M 0s
   550K .......... .......... .......... .......... .......... 44% 72.3M 0s
   600K .......... .......... .......... .......... .......... 48%  123M 0s
   650K .......... .......... .......... .......... .......... 52%  155M 0s
   700K .......... .......... .......... .......... .......... 55%  106M 0s
   750K .......... .......... .......... .......... .......... 59%  126M 0s
   800K .......... .......... .......... .......... .......... 63%  834K 0s
   850K .......... .......... .......... .......... .......... 66% 97.0M 0s
   900K .......... .......... .......... .......... .......... 70%  175M 0s
   950K .......... .......... .......... .......... .......... 74%  106M 0s
  1000K .......... .......... .......... .......... .......... 78% 95.0M 0s
  1050K .......... .......... .......... .......... .......... 81%  123M 0s
  1100K .......... .......... .......... .......... .......... 85% 88.8M 0s
  1150K .......... .......... .......... .......... .......... 89%  102M 0s
  1200K .......... .......... .......... .......... .......... 92%  105M 0s
  1250K .......... .......... .......... .......... .......... 96%  136M 0s
  1300K .......... .......... .......... .......... ......    100%  233M=0.4s

2020-12-10 16:51:11 (3.50 MB/s) - ‘JesterDataset4.zip’ saved [1378454/1378454]

### Load data into DataFrame

In [2]:
import pandas as pd 
  
# read an excel file and convert  
# into a dataframe object 
df = pd.DataFrame(
        pd.read_excel(
            "data/JesterDataset4.xlsx",
            index_col=0,
            header=None,
        )
    ) 

df.index.rename('user_id', inplace=True)

# show the dataframe
df.head()

,1,2,3,4,5,6,7,8,9,10,...,149,150,151,152,153,154,155,156,157,158
user_id,,,,,,,,,,,,,,,,,,,,,
1,99,99,99,99,99,99,99.0,99.0,99,99,...,99.0,99.0,99.00,99.00,99.0,99.0,99.0,99.0,99.00,99.00
1,99,99,99,99,99,99,99.0,99.0,99,99,...,99.0,99.0,99.00,99.00,99.0,99.0,99.0,99.0,99.00,99.00
4,99,99,99,99,99,99,99.0,99.0,99,99,...,99.0,99.0,99.00,99.00,99.0,99.0,99.0,99.0,99.00,99.00
47,99,99,99,99,99,99,99.0,99.0,99,99,...,99.0,99.0,5.61,-4.51,0.0,0.0,99.0,0.0,5.93,4.19
13,99,99,99,99,99,99,99.0,99.0,99,99,...,99.0,99.0,99.00,99.00,99.0,0.0,99.0,99.0,99.00,0.00

### Save original data into a csv file

In [3]:
csv_orig = 'jester_ds4_orig.csv'

df.to_csv(f"data/{csv_orig}", header=True, index=True, index_label='user_id')

In [4]:
%%bash -s "data/$csv_orig"

head -3 "$1"

user_id,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158
1,99,99,99,99,99,99,99.0,99.0,99,99,99,99,99.0,99,99.0,99.0,99.0,99.0,99.0,99,99.0,99.0,99.0,99.0,99.0,99.0,99,99.0,99.0,99.0,99,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99,99,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,3.7,99,99.0,99.0,99.0,99.0,99.0,99.0,99,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0
1,99,99,99,99,99,99,99.0,99.0,99,99,99,99,99.0,99,99.0,99.0,99.0,99.0,99.0,99,99.0,99.0,99.0,99.0,99.0,99.0,99,99.0,99.0,99.0,99,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99,99,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,8.209999999999999,99,99.0,99.0,99.0,99.0,99.0,99.0,99,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0

### Convert data from wide form to long form

In [5]:
df_tmp = df.stack()
df_tmp.index.rename(['user_id', 'item_id'], inplace=True)
df_tmp = df_tmp.rename('rating')
df = df_tmp.reset_index(['user_id', 'item_id'])
df

         user_id  item_id  rating
0              1        1    99.0
1              1        2    99.0
2              1        3    99.0
3              1        4    99.0
4              1        5    99.0
...          ...      ...     ...
1216437        2      154    99.0
1216438        2      155    99.0
1216439        2      156    99.0
1216440        2      157    99.0
1216441        2      158    99.0

[1216442 rows x 3 columns]

### Save converted data into a csv file

In [6]:
csv_long = 'jester_ds4_long.csv'

df.to_csv(f"data/{csv_long}", header=True, index=False)

In [7]:
%%bash -s "data/$csv_long"

head -5 "$1"

user_id,item_id,rating
1,1,99.0
1,2,99.0
1,3,99.0
1,4,99.0

### Upload data to S3

In [ ]:
%%bash -s "$csv_orig" "$csv_long"

aws s3 cp "data/$1" "s3://your-bucket/your-folder/$1"
aws s3 cp "data/$2" "s3://your-bucket/your-folder/$2"